<a href="https://colab.research.google.com/github/avaneeshvyas/mojojojo/blob/PythonTasks/pandas_basics_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Consider the following Python dictionary data and Python list labels:**

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**1. Create a DataFrame birds from this dictionary data which has the index labels.**

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  columnList = list(dfObj.columns)
  print("Column names are: ",columnList)

Column names are:  ['birds', 'age', 'visits', 'priority']

**2. Display a summary of the basic information about birds DataFrame and its data.**

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
        
dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  print(dfObj.birds.describe(include='all'))

count             10
unique             3
top       spoonbills
freq               4
Name: birds, dtype: object

**3. Print the first 2 rows of the birds dataframe **

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  print(dfObj.loc[['a','b'],:])

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  print(dfObj.loc[:,['birds','age']])

        birds  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0
j  spoonbills  4.0

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  print(dfObj.loc[['b','c','g'],['birds','age','visits']])

     birds  age  visits
b   Cranes  4.0       4
c  plovers  1.5       3
g  plovers  5.5       2

**6. select the rows where the number of visits is less than 4**

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  print(dfObj.loc[dfObj.loc[:,'visits']<4,:])

        birds  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [32]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  print(dfObj.loc[dfObj.loc[:,'age'].isnull(),('birds','visits')])

        birds  visits
d  spoonbills       4
h      Cranes       2

**8. Select the rows where the birds is a Cranes and the age is less than 4**

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  print(dfObj.loc[(dfObj['birds']=='Cranes') & (dfObj['age'] < 4.0)])

    birds  age  visits priority
a  Cranes  3.5       2      yes
f  Cranes  3.0       4       no

**9. Select the rows the age is between 2 and 4(inclusive)**

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  print(dfObj.loc[(dfObj['age'] > 2.0) & (dfObj['age'] <= 4.0)])

        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
j  spoonbills  4.0       2       no

**10. Find the total number of visits of the bird Cranes**

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  if dfObj.dtypes['visits'] == 'float64' or  dfObj.dtypes['visits'] == 'int64':
    print(dfObj.loc[(dfObj['birds']=='Cranes') & (sum(dfObj['visits']))])
  else:
    print("The visits column cannot be aggregated as it is non numeric type")

    birds  age  visits priority
a  Cranes  3.5       2      yes
b  Cranes  4.0       4      yes
f  Cranes  3.0       4       no
h  Cranes  NaN       2      yes

**11. Calculate the mean age for each different birds in dataframe.**

In [0]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  if dfObj.dtypes['visits'] == 'float64' or  dfObj.dtypes['visits'] == 'int64':
    print(dfObj.groupby('birds',as_index=False)['age'].sum())
  else:
    print("The visits column cannot be aggregated as it is non numeric type")

        birds   age
0      Cranes  10.5
1     plovers   7.0
2  spoonbills  18.0

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

In [28]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  columnNum=len(dfObj.index.values)
  tempArr=list(range(100,100+columnNum))
  print("After NewColumn Random")
  dfObj.insert(4,'Random',tempArr)
  #dfObj['Random']=tempArr
  print(dfObj)
  del dfObj['Random']
  print()
  print("After deleting NewColumn Random")
  print(dfObj)

After NewColumn Random
        birds  age  visits priority  Random
a      Cranes  3.5       2      yes     100
b      Cranes  4.0       4      yes     101
c     plovers  1.5       3       no     102
d  spoonbills  NaN       4      yes     103
e  spoonbills  6.0       3       no     104
f      Cranes  3.0       4       no     105
g     plovers  5.5       2       no     106
h      Cranes  NaN       2      yes     107
i  spoonbills  8.0       3       no     108
j  spoonbills  4.0       2       no     109

After deleting NewColumn Random
        birds  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f      Cranes  3.0       4       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**13. Find the number of each type of birds in dataframe (Counts)**

In [16]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  if dfObj.dtypes['visits'] == 'float64' or  dfObj.dtypes['visits'] == 'int64':
    print(dfObj.groupby('birds',as_index=False)['visits'].count())
  else:
    print("The visits column cannot be aggregated as it is non numeric type")

        birds  visits
0      Cranes       4
1     plovers       2
2  spoonbills       4

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [7]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  if dfObj.dtypes['visits'] == 'float64' or  dfObj.dtypes['visits'] == 'int64':
    sortObj=dfObj.sort_values(['age','visits'],ascending=[False,True])
    grpByObj=sortObj.groupby('birds')
    for grpName,group in grpByObj:
      print(grpName)
      print(group)
      print()
  else:
    print("The visits column cannot be aggregated as it is non numeric type")

Cranes
    birds  age  visits priority
b  Cranes  4.0       4      yes
a  Cranes  3.5       2      yes
f  Cranes  3.0       4       no
h  Cranes  NaN       2      yes

plovers
     birds  age  visits priority
g  plovers  5.5       2       no
c  plovers  1.5       3       no

spoonbills
        birds  age  visits priority
i  spoonbills  8.0       3       no
e  spoonbills  6.0       3       no
j  spoonbills  4.0       2       no
d  spoonbills  NaN       4      yes

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

In [14]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  dfObj.loc[(dfObj.priority=='yes'),'priority']=1
  dfObj.loc[(dfObj.priority=='no'),'priority']=0
  print(dfObj)

        birds  age  visits priority
a      Cranes  3.5       2        1
b      Cranes  4.0       4        1
c     plovers  1.5       3        0
d  spoonbills  NaN       4        1
e  spoonbills  6.0       3        0
f      Cranes  3.0       4        0
g     plovers  5.5       2        0
h      Cranes  NaN       2        1
i  spoonbills  8.0       3        0
j  spoonbills  4.0       2        0

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

In [12]:
import pandas as pd
import numpy as np

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

dfObj=pd.DataFrame(data,columns=['birds','age','visits','priority'],
                   index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

if dfObj.empty:
  print("Invalid Data Frame")
else:
  dfObj=dfObj.dropna(axis=0,how='all')
  dfObj.loc[(dfObj.birds=='Cranes'),'birds']='trumpeters'
  print(dfObj)

        birds  age  visits priority
a  trumpeters  3.5       2      yes
b  trumpeters  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no
f  trumpeters  3.0       4       no
g     plovers  5.5       2       no
h  trumpeters  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no